@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main h1, p{
    margin-bottom: 8px;
}

main span{
    background-color: #8476AB;
    color: #FFF15C;
    height: 5px;
    padding: 6px 5px;
    border-radius: 3px;
}

main img{
    width: 350px;
}
